* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 2px solid gray;
}

header {
    grid-column: 1 / -1;
    border-bottom: 2px solid gray;
}

nav {
    grid-column: 1 / -1;
    border-bottom: 2px solid gray;
}

aside {
    height: 200px;
    grid-column: 1 / 2;
    border-right: 2px solid gray;
}

main {
    grid-column: 2 / -1;
}

footer {
    grid-column: 1 / -1;
    border-top: 2px solid gray;
}